{%extends "view/layout/base.html" %}

{% block body %}
<div class="container mt-3">
    <form action="/rent/save" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value={{rent.id}}>

        <div class="field">
            <label class="label">
                Usuario
            </label>
            <div class="control">
                <div class="select">
                    <select name="usuario-seleccionado">
                        {%for user in users%}
                        <option value="{{user.id}}">{{user.nombre}} {{user.apellido}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">
                Vehiculo
            </label>
            <div class="control">
                <div class="select">
                    <select name="auto-seleccionado">
                        {%for car in cars%}
                        <option value="{{car.id}}">{{car.marca}} {{car.modelo}} (${{car.precio}} x dia)</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Desde</label>
            <div class="control">
                <input type="date" class="input" name='renta-inicio'>
            </div>
        </div>

        <div class="field">
            <label class="label">Hasta</label>
            <div class="control">
                <input type="date" class="input" name='renta-termina'>
            </div>
        </div>

        <div class="field">
            <label class="label">Medio de pago</label>
            <div class="control">
                <div class="select">
                    <select name="forma-pago">
                        <option value="efectivo">Efectivo</option>
                        <option value="tarjeta">Tarjeta</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Abonado</label>
            <div class="control">
                <div class="select">
                    <select name="abonado">
                        <option value="true">Si</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit">
                    Submit
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}