{% extends "view/layout/base.html" %}

{% block body %}
<div class="container">
    <a class="button mt-3" href="/car/form">Nuevo vehiculo</a>
    <h1 class='is-size-1'>Vehiculos disponibles</h1>
    <div class="columns is-flex-wrap-wrap mt-3">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <img
                        src='https://www.infobae.com/new-resizer/_k09C1mu9-NTup_8W3ZH0tsMUQo=/768x576/filters:format(jpg):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/KIGFVWYQUVDP5B4EWRUNLPBOZY.jpg'>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <img
                        src='https://www.infobae.com/new-resizer/_k09C1mu9-NTup_8W3ZH0tsMUQo=/768x576/filters:format(jpg):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/KIGFVWYQUVDP5B4EWRUNLPBOZY.jpg'>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <img
                        src='https://www.infobae.com/new-resizer/_k09C1mu9-NTup_8W3ZH0tsMUQo=/768x576/filters:format(jpg):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/KIGFVWYQUVDP5B4EWRUNLPBOZY.jpg'>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <img
                        src='https://www.infobae.com/new-resizer/_k09C1mu9-NTup_8W3ZH0tsMUQo=/768x576/filters:format(jpg):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/KIGFVWYQUVDP5B4EWRUNLPBOZY.jpg'>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <img
                        src='https://www.infobae.com/new-resizer/_k09C1mu9-NTup_8W3ZH0tsMUQo=/768x576/filters:format(jpg):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/KIGFVWYQUVDP5B4EWRUNLPBOZY.jpg'>
                </div>
                <div class="media-content">
                    <p class="title is-3">Renault, 12</p>
                    <p class="subtitle is-5">2005</p>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <img
                        src='https://www.infobae.com/new-resizer/_k09C1mu9-NTup_8W3ZH0tsMUQo=/768x576/filters:format(jpg):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/KIGFVWYQUVDP5B4EWRUNLPBOZY.jpg'>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}